* {
    font-family: "Kanit", sans-serif;
}

body, html, header {
    overflow-x: hidden; /* Impedisce lo scroll orizzontale */
    margin: 0; /* Rimuove margini non necessari che possono causare il problema */
    padding: 0; /* Rimuove padding che potrebbe causare problemi */
}


h1, h2, h3, .h1, .h2, .h3 {
    font-family: "Genos", sans-serif;
}

header {
    background-image: url(Media/bg-1.jpg);
    height: 100vh;
}

.container {
    width: 40vw;
    height: 99vh;
    background-color: #3B1E54;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    color: white;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.titolo {
    font-size: 50px;
}

/* ICONS */
i {
    color: white;
    margin-top: 50px;
    border: 1px solid #ffff01;
    border-radius: 50%;
    padding: 40px;
    background-color: #ffff01;
    font-size: 64px;
}

/* Responsività per schermi piccoli */
@media (max-width: 768px) {
    .container {
        width: 90vw; /* Più ampio su schermi piccoli */
        height: auto; /* Lascia che l'altezza si adatti al contenuto */
        padding: 20px;
        border-radius: 0;
    }
    
    .titolo {
        font-size: 30px; /* Ridurre la dimensione del testo */
        text-align: center; /* Allineamento per schermi più piccoli */
    }
    
    form {
        width: 100%; /* Form occupa tutta la larghezza disponibile */
    }

    .form-label {
        font-size: 16px; /* Adattamento dimensioni testo per schermi piccoli */
    }

    .form-control {
        font-size: 14px; /* Testo input più leggibile */
    }

    .bottone {
        font-size: large;
        padding: 12px 20px; /* Bottone più grande per una migliore interazione */
    }

    i {
        padding: 25px; /* Icone più piccole su schermi piccoli */
        font-size: 20px; /* Icona più piccola */
    }
}



 