*{
    font-family: "Kanit", sans-serif;
}

body, html {
    overflow-x: hidden; /* Impedisce lo scroll orizzontale */
    margin: 0; /* Rimuove margini non necessari che possono causare il problema */
    padding: 0; /* Rimuove padding che potrebbe causare problemi */
}


h1, h2, h3, .h1, .h2, .h3{
    font-family: "Genos", sans-serif;
}

header{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(Media/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: #3B1E54;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.aulab{
    background-color: #3B1E54;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.titolo-aulab{
    color: var(--yl);
}

.footer-custom{
    background-image: url(Media/bg-3.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-custom{
    width: 400px;
    height: auto;
}

.container-custom{
    color: white;
}



/* ICONS */

i{
    color: var(--yl);
}

/* VARIABILI */

:root{
    --yl: #ffff01;

}

/* BUTTONS */

.iscriviti{
    text-align: center;
}

.iscriviti:hover{
    background-color: var(--yl);
    color:black}

/* media queries */
@media (min-width: 992px) {
    .my-large-class {
      font-size: 70px;
    }
  }

  @media (max-width: 576px) {
    .header-custom img {
        max-width: 50%; /* Riduci la dimensione del logo */
        margin: 0 auto; /* Centra il logo */
        display: block;
    }
}